body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#container {
	background: none;
	width: 100%;
	flex-grow: 1;
	margin: 0;
	display: flex;
	padding: 2em;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	overflow-y: auto;
}
h2 {
	font-size: 2.1em;
}
#level-select {
	font-size: 2em;
	border-radius: 1em;
	padding: 0.25em;
	outline: none;
}
.level-listing {
	display: flex;
	width: 20em;
	height: 20em;
	margin: 1em;
	border: 0.5em solid black;
	border-radius: 4em;
	justify-content: center;
	align-items: center;
	background: url("/images/stage backg.png");
	background-size: cover;
	transition-duration: 0.4s; 
}

.level-listing:hover {
	background-color: rgba(0, 0, 0, 0.2);
	transform: rotate3d(-1, 1, 1, 20deg);
	/* box-shadow: 0 0 0.8em 2px rgb(0, 0, 255); */
}
.level-listing span {
	font-size: 10em;
}