* {
	font-family: 'Capriola';
}
@font-face {
  font-family: retro;
  src: url(/pixelly.ttf);
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:lightblue;
}
#nav {
	height: 2em;
	margin: 0;
	padding: 0;
}
#outer {
	position: relative;
	background: none;
	width: 100%;
	/* flex-grow: 1; */
	height: 80vh;
	margin: 0;
}
#words {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 18%;
	color: black;
	font-size: 3em;
	z-index: 100;
}
tone-oscilloscope {
	width: 100%;
	background-color: black;
	height: 40px;
	border-radius: 20px;
	margin-bottom: 10px;
}
button {
	float: left;
}
.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
	display: none;
  z-index: 100;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1300px;
}
.scene-modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  display: none;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#repeat_pronunciation {
	background: none;
	width: 6vmin;
}
.scene img {
  width: 1300px;
}
#sentence_to_read {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	font-size: 2em;
}